* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#accordion {
  width: 95%;
  margin: auto;
  margin-top: 100px;
}

@media (min-width: 768px) {
  #accordion {
    width: 60%;
  }
}

.accordion-header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: gray;
  margin: 1rem auto;
  color: white;
  padding: 0 2rem;
  justify-content: space-between;
}

.toggle-indicator {
  font-size: 2rem;
}

.accordion-description {
  height: 0;
  background-color: #f1f1f1;
  overflow: hidden;
  padding: 0 1.5rem;
  transition: height 0.5s ease;
}


.accordion-open {
  height: 6rem;
  transition: height 0.5s ease;
}
